server:
  port: ${SERVER_PORT:8089}

spring:
  application:
    name: catalog-bff-web

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka/}