server:
  port: ${SERVER_PORT:8090}

spring:
  application:
    name: review-service

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka/}